/* My Styles CSS */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  }

* {
  font-family: 'Lato', sans-serif;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color:#858585;
  height: 2px;
  width: 100%;
}

a {
  color: rgb(101, 101, 101);
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/** header **/

.header__title{
  font-size: 48px;
  font-weight: 100;
  line-height: 1.05em;
  text-transform: uppercase;
  text-align: right;
}

.header__description{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.375em;
  text-transform: uppercase;
  text-align: right;
}

.header__logo{
  padding-top: 15px;
  padding-left: 0px;
  padding-bottom: 15px;
  padding-right: 15px;
  max-width:150px;
  max-height: 150px;
}

/** Nav bar **/

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  padding: 24px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.25em;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

/* Javascript Carousel */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  height: 350px;
  width: 100%;
  margin: auto;
}

.carousel-control{
  text-shadow: 0 1px 2px rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: 0;
}

.carousel-banner{
  background-color: rgba(0, 0, 0, 0.9);
}
.icon-prev{
  color:rgb(0, 0, 0);
}
.icon-next{
  color:rgb(0, 0, 0);
}

/* Featured Work */

.featuredwork__title{
  font-size: 36px;
  line-height: 1.375em;
  font-weight: bold;
  color:rgb(159, 160, 162);
}

/* Articles */

.article, .img-responsive{
  margin: 0 auto;
}

.article > img{
  max-height: 300px;
  max-width: 150px;
  width:100%
}

.article__title{
  font-size: 26px;
  font-weight: bold;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
}

.article__description{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.22em;
}

.article__content{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.22em;
}

.article__link{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.22em;
  font-style: italic;
}

/* Modal */

.modal-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.22em;
}

.modal-image{
  max-width: 400px;
  max-height: 250px;
  width:100%
}

/* footer */

.footer{
  font-size: 14px;
  font-weight: 600;
}
